
API/bin/*
API/obj/*
API/net7.0
API/.vs/*
API/__blobstorage__/*
API/__queuestorage__/*
.vscode/*
.vs/*
obj
__azurite_db_blob__.json
__blobstorage__/*
__queuestorage__/*
API/__azurite_db_queue__.json
API/__azurite_db_queue_extent__.json
API/__azurite_db_table__.json
AzureFunctions.Tests/bin/*
AzureFunctions.Tests/obj/*
